body{
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
h1{
    color: rgb(29, 128, 209);
    position: relative;
    left: 42%;
    font-size: 2vw;
}
h3{
    color: cyan;
}
/*button{
    background: navy;
    border-radius: 10cm;
    color: maroon;
}*/
header{
    background: gray;
    
}