     
     
     
     
     body{
     background: rgb(53, 47, 68);
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     padding: 0;
    }

    header{
        background: rgb(92, 84, 112);;
        margin: 0%;
        padding: 0.5%;
    }

     h1{ /*this chooses what we are targeting*/
         color: rgb(250, 240, 230);
         opacity: 1;
         position: relative;
         left: 42%;
         /*font-size: calc(75% + .75vw);*/
         
     }

     h2{ /*this chooses what we are targeting*/
        color: rgb(97, 12, 159);
        opacity: 1;
    }

    p{ /*this chooses what we are targeting*/
        color: rgb(97, 12, 159);
        opacity: 1;
    }

    li{ /*this chooses what we are targeting*/
        color: rgb(97, 12, 159);
        opacity: 1;
    }

    footer{
        display: flex;
        flex-direction: row;
    }

     /* .GitHub{
        background: rgb(216, 12, 12);
        width: 1.5cm;
        color: rgb(44, 31, 31);
        border-radius: 25%;
        
     } */

     button{
        background: rgb(216, 12, 12);
        width: 1.5cm;
        color: rgb(44, 31, 31);
        border-radius: 25%;
        margin: auto;
     }


    /*
     margin: adds space around a div can use one, two, or four values
     padding: increases space around a div 


    */